.TopBar{
    display:flex;
    background-color:white;
    align-content:center;
    justify-content:center;
    /* width:220%; */
    margin-top:10px;
    margin-right:5px;
    margin-left:5px;
    text-align:center;
}

.user-detail{
    font-size: 25px;
    padding: 30px 50px;
    /* padding:30px 70px; */
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    /* padding: 12px 20px; */
    margin: 8px 0;
    box-sizing: border-box;
    height: 2rem;
}
.heading-4{
    margin-top:20px;
}
td data-label{
    text-align:center;
    font-size:medium;
}

.input-text {
    border: 1px solid black;
    background-color: rgb(86, 226, 238);
    height:1.3rem;
    border-radius: 1rem;
    width: 100%;
    font-size:medium;
    padding: 15px 20px;
    margin: 12px 0;
    box-sizing: border-box;   
}
.st-detail {
    display: flex;
    margin-top:50px;
    margin-bottom:50px;
    /* margin-left:100px; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
    transition: 0.3s;
    width: 100%;
    
  }
  
  .st-detail:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .st-container {
    padding: 2px 16px;
  }
  p{
    text-align:center;
  }


.input-text:focus{
    outline-color: rgb(105, 100, 100);
}



