.Content img{
    width:1500px;
    height:700px;
    margin:0px;
    opacity:0.6;
}
.Content{
    /* position: relative; */
    text-align: center;
    color: white;
  }
  .login-home{
    text-decoration:none;
    position: absolute;
    top: 70px;
    right: 25px;
    padding:15px;
    font-size:25px;
    font-weight: 500;
    color:white;
    border-radius: 4px;
    /* margin-right:300px;
    margin-top:10px;
    margin-left:400px; */
    color:Black;
    /* color:blue; */
}
.login-button{
  text-decoration:none;
  position: absolute;
  top: 2px;
  right: 16px;
  padding:5px;
  font-size:18px;
  font-weight: 500;
  /* background-color: #1877f2; */
  background-color:rgb(52, 22, 80);
  color:rgba(255, 255, 255, 0.925);
  border-radius: 4px;
  margin-right:20px;
  margin-top:5px;
  margin-left:20px;
}