.table-box{
    overflow-x:auto;
}
table{
    
    border: 1px solid;
    width:220%;
    margin-top:40px;
}
th,td{
    border: 1.5px solid;
    width:30%;

}
@media screen and (max-width: 600px) {
    table{
        margin:0;
    }
    
  }